#content{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-image: url("https://picsum.photos/500/200");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;

}

h1{
    padding-top: 30px;
    text-align: center;
    color: white;
}

#image1, #image2{
    margin-top: 10px;
    margin-bottom: 10px;
}

#image1{
    margin-right: 10px;
    float: left;
}

#image2{
    float: right;
    margin-left: 10px;
}

p{
    text-align: justify;
}

#footer p {
    text-align: center;
}

#footer{
    clear: both;
    background-color: black;
    color: white;
    padding: 30px;
}