#caixa{
    height: 500px;
    width: 500px;
    background: deepskyblue;
    position: relative;
}

#nuvols{
    background-image: url("img/clouds.png");
    height: 73px;
}

#terra{
    background-image: url("img/base.png");
    height: 14px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#mario
{
    background-image: url("img/mario.png");
    height: 113px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    width: 239px;
}